<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body{
      width: 100%;
      height: 100%;
      background-color: black; 
    }
    #app{
      width: 100%;
      height: 100%;
    }
    .home{
        color: white;
    }
    .search{
        width: 350px;
        height: 50px;
        position: absolute;
        left: 450px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="home">
        <el-row>             <!--导航栏-->
            <el-menu
            :default-active="activeIndex"
            mode="horizontal"
            class="el-menu-demo"
            @select="handleSelect"
            background-color="black"
            text-color="#fff"
            active-text-color="#fff">
            <el-menu-item index="1" style="font-size: 25px;"><img src="./assets/logo.png" style="width: 40px; margin: 10px;">在线学习网站</el-menu-item>
            <el-submenu index="2" style="margin-left: 50px;">
                <template slot="title">课程分类</template>
                <el-menu-item index="2-1">选项1</el-menu-item>
                <el-menu-item index="2-2">选项2</el-menu-item>  
                <el-menu-item index="2-3">选项3</el-menu-item>
                <el-submenu index="2-4">
                <template slot="title">选项4</template>
                <el-menu-item index="2-4-1">选项1</el-menu-item>
                <el-menu-item index="2-4-2">选项2</el-menu-item>
                <el-menu-item index="2-4-3">选项3</el-menu-item>
                </el-submenu>
            </el-submenu>
            <div class="search">
                <el-input v-model="input" style="width: 250px;position: relative;top: -5px;"></el-input>
                <img src="./assets/搜索.jpg" style="width: 40px;height: 40px;position: relative;top: 10px;margin-left: 10px;">
            </div>
            <el-submenu index="4" style="float: right;"><template slot="title">xxx用户/管理员</template>
            <el-menu-item index="4-1" style="width: 200px;">退出<i class="el-icon-error" style="margin-left: 5px;"></i></el-menu-item>
      </el-submenu>
    </el-menu>
        </el-row>
            <el-row :gutter="40" style="margin-left: 10px;">
            <el-col :span="18" style="margin-top: 30px;">                <!--大推荐栏-->
                <el-row :gutter="20">
                <el-col :span="12">   <!--//xxx热门课程-->
                    <el-image :src='https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'></el-image>xxx热门课程
                </el-col>   
                <el-col :span="12">            <!--//四个小推荐课程-->
                    <el-row :gutter="20">
                    <el-col :span="12"><el-image :src="src[1]"></el-image>课程1</el-col>
                    <el-col :span="12"><el-image :src="src[2]"></el-image>课程2</el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="12"><el-image :src="src[3]"></el-image>课程3</el-col>
                        <el-col :span="12"><el-image :src="src[4]"></el-image>课程4</el-col>
                    </el-row>
                </el-col>
                </el-row>
                <el-row style="margin-top: 30px;"><img src="./assets/广告.png"></el-row>    <!--广告位-->
                <el-row :gutter="20" style="margin-top: 20px;"> 
                <el-col :span="12"> <!--热门测试题-->
                    <img src="./assets/火.png" style="width: 20px;"><label style="font-size: 25px;color: rgb(178, 20, 21);">热门测试题</label>
                    <el-image :src="test" style="margin-top: 20px;"></el-image>
                </el-col>
                <el-col :span="12"> <!--名师直播-->
                    <img src="./assets/直播.png" style="width: 25px;"><label style="font-size: 25px;color: rgb(37, 75, 130);">名师直播</label>
                    <el-row :gutter="20" style="margin-top: 20px;">
                    <el-col :span="8" v-for="lesson in liveLessons">
                        <el-image  :src="lesson"></el-image>
                    </el-col>
                    </el-row>  
                </el-col>
                </el-row>
            </el-col>
            <el-col :span="6">     <!--新闻排行-->
                <h1>新闻排行</h1> 
                <span>最新</span> <span>最热</span>
                <h6 v-for='(title,index) in news':key="index">{{index+1}} {{title}}</h6>
                <label>查看更多></label>
            </el-col>     
        </el-row>
    </div>
  </div>
</body>
  <!-- import Vue before Element -->
 <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> --> 
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            src:[
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
            ],
            test:'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            liveLessons:[
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
            'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
            ],
            news:[
            '国家中长期教育改革发展纲要提出...',
            '国家中长期教育改革发展纲要提出...',
            '国家中长期教育改革发展纲要提出...',
            '国家中长期教育改革发展纲要提出...',
            '国家中长期教育改革发展纲要提出...',
            '国家中长期教育改革发展纲要提出...'
            ]
        }
      }
    })
  </script>
</html>